<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @cliente.usuario %>
</p>

<p>
  <strong>Password:</strong>
  <%= @cliente.password %>
</p>

<p>
  <strong>Correo:</strong>
  <%= @cliente.correo %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @cliente.nombre %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @cliente.direccion %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @cliente.edad %>
</p>

<p>
  <strong>Sex:</strong>
  <%= @cliente.sex %>
</p>

<%= link_to 'Edit', edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
